[submodule "hxe"]
	path = ext/hxe
	url = https://github.com/HaloSPV3/hxe
	branch = main
	ignore = all
[submodule "ext/HCE.DRP"]
	path = ext/HCE.DRP
	url = https://github.com/HaloSPV3/HCE.DRP.git
	branch = main
